#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;  
}
  .title{
      margin-top: 10px;
  }
  .star{
    padding: 4px;
  }
  .swiper-slide {
      background: #fff;
}
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  

  .profile{
    border-radius: 100%;
    width: 250px !important;
  }
  .text{
    font-size: large;
    font-weight: bold;
  }
  